$myColor: #ffc0cb;

.navbar {
  .book-api {
    color: $myColor;
    font-size: 50px;   
  }

  .nav-tabs {
    border: none;
  }
  
  li {
    background-color: white;
    margin: 30px 10px 0 0;
    min-width: 70px;
    padding: 10px;   
    text-align: center;
  }
}
