
$white-smoke: #f1f1f1;
$blue: #6ec0fb;

.signup {
    border: 3px solid $white-smoke;
    margin: auto;
    h4 {
        color: $blue;
        text-align: center;
    }
    form {
       
    
        .dp-style {
            margin-right: 70px;
            padding-top: 0 !important;
        }
        .name{
                  margin-top: 15px;
                  input {
                    text-transform: capitalize;
                  }
                }
                .checkbox {
                  margin-top: 0;
                }
    
    } 

}
